CompileFlags:
  CompilationDatabase: build/Debug
Index:
  Background: Build
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - readability-*
      - bugprone-*
      - cert-*
      - misc-*
    Remove:
      - readability-magic-numbers
      - cert-dcl37-c
      - cert-dcl51-cpp
    CheckOptions:
      readability-identifier-naming.StructCase: CamelCase
      readability-identifier-naming.EnumCase: CamelCase
      readability-identifier-naming.TypedefCase: CamelCase
      readability-identifier-naming.UnionCase: CamelCase
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.FunctionIgnoredRegexp: .*_(IRQ)?Handler|SystemInit|__io_putchar|_[a-z]+
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.VariableIgnoredRegexp: ^_.*$
      bugprone-reserved-identifier.AllowedIdentifiers: _estack;_sidata;_sdata;_edata;_sbss;_ebss;__io_putchar
      readability-identifier-naming.ParameterCase: lower_case
      readability-identifier-naming.LocalVariableCase: lower_case
      readability-identifier-naming.ConstantCase: UPPER_CASE
      readability-identifier-naming.EnumConstantCase: UPPER_CASE
      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
      readability-identifier-length.IgnoredVariableNames: ^(i|j|k|n|sp|pc|lr)$
      readability-identifier-length.IgnoredParameterNames: ^(i|j|k|n|ch)$
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
Hover:
  ShowAKA: true
